@import "./../../styles/_variables";

.hour {
  width: 50%;
  min-width: 45px;
  position: relative;
  padding: 2px 10px;
  font-size: 14px;
  color: @dark-gray;
  cursor: pointer;
  &:hover {
    background-color: @light-gray;
  }

  &__value {
    width: 80%;
  }

  & .is-active {
    background-color: #d8d8d8;

    .reserve-button {
      display: none;
    }
  }
}

.reserve-button {
  position: absolute;
  right: 5%;
}
