@import "./../../styles/_variables";

.hour {
  display: block;
  min-width: 45px;
  position: relative;
  padding: 2px 10px;
  font-size: 14px;
  color: @dark-gray;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  cursor: pointer;

  &__value {
    width: 80%;
  }

  & .is-active {
    background-color: #d8d8d8;

    .reserve-button {
      display: none;
    }
  }
}

.reserve-button {
  position: absolute;
  right: 5%;
}
