@import "./../../styles/_variables";

.reserve-widget {
  display: table;
  width: 100%;
  background-color: #fff;
  padding: 20px 0;

  &__header {
    display: table-row;
  }

  &__title {
    color: @dark-gray;
  }
}

.table {
  display: table;

  &__row-group {
    display: table-row-group;
  }

  &__row {
    display: table-row;
  }

  &__head {
    display: table-cell;
  }
}
