@import "./../../styles/_variables";

.reserve-widget {
  display: table;
  width: 100%;
  background-color: #fff;
  padding: 20px 0;

  &__header {
    display: table-row;
  }

  &__title {
    color: @dark-gray;
  }
}

.table {
  width: 100%;

  &__thead-row {
    color: @dark-gray;

  }

  &__head {
    display: table-cell;
  }
}

.btn {
  width: 25px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: @dark-gray;
  cursor: pointer;

  &__prev-month {
    left: 1%;
    background: url('./img/left-arrow.png') center center no-repeat;
  }

  &__next-month {
    right: 1%;
    background: url('./img/right-arrow.png') center center no-repeat;
  }
}

.week {

  &__item {
    min-width: 116px;
    font-size: 16px;
    color: @dark-gray;
    text-align: left;

    @media screen {
      @media (max-width: 768px) {
        min-width: 100px;
        font-size: 14px;
      }

      @media (max-width: 702px) {
        display: none;
      }
    }

    &--short {
      display: none;

      @media screen {
        @media (max-width: 702px) {
          display: table-cell;
          min-width: 75px;
        }
      }
    }
  }
}


.toolbar {
  position: relative;
  background-color: @light-gray;
  padding: 5px;
}
