@import './../../styles/_variables';

.day {
  border: 1px solid @light-gray;
  &__column {
    display: inline-block;
    width: 50%;
    min-width: 45px;
    box-sizing: border-box;

    @media screen {
      @media (max-width: 840px) {
        display: block;
        width: 100%;
      }
    }
  }
}
