@import './../../styles/_variables';

.rooms {
  background-color: #fff;

  &__label {
    border: 1px solid @light-gray;
    padding: 10px 25px;
  }

  &__title {
    color: @dark-gray;
    font-size: 16px;
  }

  &__description {
    color: @middle-gray;
  }
}
