@import './../../styles/_variables';

.rooms {
  display: table-cell;
  background-color: #fff;

  &__title {
    color: @dark-gray;
    font-size: 16px;
  }

  &__description {
    color: @middle-gray;
  }
}
